*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100dvw;
    height: 100dvh;
}

header, main, footer, section {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: fit-content;
}

input {
    margin: 0.25rem;
}

#user-input {
    height: fit-content;
    margin: 2rem 0rem;
}

#cord-result {
    height: fit-content;
    width: 300px;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack-result {
    width: 100%;
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}