*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100dvw;
    height: 100dvh;
}

header, main, section {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main {
    height: fit-content;
    max-width: 350px;
}

input {
    margin: 0.25rem;
}

#user-input {
    height: fit-content;
    margin: 2rem 0rem;
}

#cord-result {
    height: fit-content;
    width: 300px;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack-result {
    width: 100%;
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.full-cord-calc {
    width: 100%;
}

.face-cord-calc {
    width: 100%;
}

span {
    margin: 0rem 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
}

footer a {
    text-decoration: none;
    color: blue;
}